*,
*::after,
*::before {
	padding: 0;
	margin: 0;

	box-sizing: border-box;
}

#inner {
	width: 200px;
}

body {
	font-family: 'Roboto', sans-serif;
	color: white;
	background-color:rgb(126, 203, 255);
	direction: rtl;
}

#page {
	position: relative;
	background: url(../images/background.jpg);
	background-size: cover;
	/* background-position: 0% 0%; */

	/* top: 0px;
	left: 0px; */
	min-height: 100vh;
	/* right: 0px;
	bottom: 0px; */
	z-index: 1;
	/* padding:2rem 0; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}

#page::after {
	content: " ";
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	/* background: radial-gradient(rgba(10, 113, 148, 0.8), rgba(3, 41, 54, 0.8)) no-repeat; */
	/* backdrop-filter: blur(10px); */
	/* background-color: rgba(255, 255, 255, 0.473); */
	-webkit-backdrop-filter: blur(2px);
	backdrop-filter: blur(2px);
}

#page.less-transperant::after {
	background-color: rgba(255, 255, 255, 0.5);
}

.branding-benner {
	/* background: url(../images/logo.png); */
	background-color: rgba(0, 0, 0, 0.8);
	background-size: cover;
	/* width: 270px; */
	height: 100px;
	border-radius: 3px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: auto;
}

.ad-img {
	width: 350px;
	height: 150px;
	display: none;
	top: 2vh;
	left: 2vw;
	z-index: 10;
	margin: 1rem 0;
	background-image: url(../images/backgorund2.jpg);
	background-size: 100% 100%;
}

.ad-img img {
	width: 100%;
	height: 100%;
}

.main-content {
	text-align: center;
	position: relative;
	width: 90%;
	max-width: 350px;
	min-height: 380px;

	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2rem;
	z-index: 20;
	border-radius: 3px;
	background-color: rgba(41, 39, 39, 0.5);

	padding: 10px;
	/* -webkit-backdrop-filter: blur(5px);
	backdrop-filter: blur(5px); */
	box-shadow: 2px 2px 30px rgba(233, 233, 233, 0.541);
}

.less-transperant .main-content {
		background: radial-gradient( rgba(40, 133, 196, 0.8), rgba(2, 52, 85, 0.8) 60%) no-repeat;
	box-shadow: 1px 1px 5px black;
}

.branding-benner h1 {
	/*  position:relative;
	top: 50%;
	 transform: translateY(-50%); */
	/*	width: 100%;
	text-align: center; */
	overflow: hidden;
	/* Ensures the content is not revealed until the animation */
	/*border-left: .15em solid orange; The typwriter cursor;*/
	white-space: nowrap;
	/* Keeps the content on a single line */
	margin: 0 auto;
	/* Gives that scrolling effect as the typing happens */
	/* letter-spacing: .15em; Adjust as needed */
	animation:
		typing 3.5s steps(40, end) infinite
		/* blink-caret .75s step-end infinite; */
}

/* The typing effect */
@keyframes typing {
	from {
		width: 0
	}

	to {
		width: 100%
	}
}

/* The typewriter cursor effect */
@keyframes blink-caret {

	from,
	to {
		border-color: transparent
	}

	50% {
		border-color: orange;
	}
}

.freeimg {
	height: 59px;
}

.main-content input[type=text],
input[type=password] {
	border: none;
	width: 80%;
	border-bottom: 2px solid white;
	padding: 10px;
	margin: 20px 0;
	font-size: 14px;
	/* font-weight: bold; */
	background-color: transparent;
	color: white;
}

.main-content input[type=text]:focus,
input[type=password]:focus,
.main-content input[type=text]:hover,
input[type=password]:hover {
	outline: none !important;
	border-bottom: 2px solid #3498db;
	/* font-size: 17px; */
	font-weight: bold;
	color: white;
}


.main-content input[type=submit] {
	/* border: 1px solid #3079ed; */
	border: 0px;
	color: #fff;
	text-shadow: 0 1px rgba(0, 0, 0, 0.1);
	background-color: #3498db;
	width: 200px;
	height: 44px;
	margin-left: auto;
	margin-right: auto;
	font-weight: 600;

	/* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.main-content input[type=submit]:hover {
	/* border: 1px solid #2f5bb7; */
	border: 0px;
	box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
	background-color: #3193d4;
	/* background-color: #e9ac76; */
	/* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.stats {
	width: 100%;
	border-width: 1px;
	border-collapse: collapse;
	border-color: #c1c1c1;
	background-color: transparent;
	font-size: 12px;
}

.error {
	color: #FF8080;
	font-size: 9px;
}

.marquee {
	height: 2rem;

	overflow: hidden;
	background-color: rgba(0, 0, 0, 0.8);
}

.marquee p {
	white-space: nowrap;
	line-height: 2;
	animation: scrolling 10s cubic-bezier(.19, .18, .59, .59) 0s infinite;
	text-align: right;
}

@keyframes scrolling {
	0% {
		transform: translateX(0);
	}

	100% {
		transform: translatex(-100%);
	}
}

.navigation-links ul {
	list-style: none;
	/* outline: 1px solid green; */
	height: 3rem;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin: 10px 0;
}

.navigation-links ul li {
	/* display: inline-block; */
	min-width: 120px;
	height: 100%;


}

.navigation-links ul li:first-child {
	border-left: 2px solid white;
}

.navigation-links ul li a {
	/* text-decoration: none; */
	/* outline: 1px solid red; */
	transition: text-decoration .1s ease;
	color: white;
	display: block;
	height: 100%;
	line-height: 3;
	font-weight: bold;
}

.navigation-links ul li a:hover {
	text-decoration: none;
}

.contact-us {
	margin: 20px 0;
}

@media screen and (min-width:480px) {

	#page {
		/* padding-top: 150px; */
	}
}

.main-table,
.logout-info,
.status-info {
	margin: 10px auto 0;
	border-collapse: collapse;
	table-layout: fixed;
	background-color: rgba(0, 0, 0, 0.3);
	width: calc(100% - 11px)
		/*container width - padding */

}

.main-table caption,
.logout-info caption,
.status-info caption {
	padding: 10px;
	font-weight: bold;
}

.main-table th,

.main-table td {
	padding: 5px;
	border: 1px solid rgba(255, 255, 255, 0.3);
}

.main-table tr:nth-child(odd) {
	background-color: rgba(255, 255, 255, 0.1);
}

.main-table thead {
	background-color: rgba(0, 0, 0, 0.3);
}

.logout-info,
.status-info {
	margin-bottom: 20px;
}

.logout-info td,
.status-info td {
	padding: 10px;
	border: none;
	text-align: right;
}

.status-info td[colspan="2"] {
	text-align: center;
}

.main-content .text-only {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: calc(100% - 10px);
}

.main-content .text-only * {
	/* outline: 1px solid red; */
	padding: 10px;
	margin: 5px 0;

}

.main-content .text-only #welcom {
	color: #ff8c28;
}

.main-content .text-only #network-name {
	opacity: 10%;
	margin: 0;
	padding: 0;
}